<h1> Demon Request From </h1>

<% if @demon.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@demon.errors.count, "error") %>
      prohibited this demon from being requested:
    </h2>

    <ul>
    <% @demon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @demon do |f| %>
  Name: <%= f.text_field :name %><br>
  Title: <%= f.text_field :title %><br>
  Favorite Sacrifice: <br>
  <%= f.fields_for :sacrifices do |sacrifice| %>
    Name: <%= sacrifice.text_field :name %> <br>
    Quantity <%= sacrifice.text_field :quantity %> <br>
  <% end %>
  <%= f.submit "Request Demon" %>
<% end %>