<!DOCTYPE html>
<html>
  <head>
    <title>Summon-A-Demon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to "All Demons", demons_path %>
      <% if user_signed_in? %>
        <%= link_to "Home", user_path(current_user) %>
      <% end %>
      <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
    </div>
    <%= yield %>
  </body>
</html>
